<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/italianschoolsd_logo.png" alt="Italian School of San Diego LLC logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Announcements mailing list</p>
			<p>Keep up with the latest annoucements (low volume list)</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Italian School of San Diego LLC</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/classes" class="link">Classes</a></li>
					<li><a href="/about" class="link">About</a></li>
					<li><a href="/post" class="link">News</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary" visibility="hidden">Find out more</h3>
				<ul class="mb3">
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/italianschoolsd/" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
				</ul>
			</div>

		</div>

		<div class="measure-narrow center mb4">

			<p>Copyright © 2021, Italian school of San Diego LLC</p>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
