<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">



			<img src="/img/italianschoolsd_logo.png" alt="Italian school of San Diego LLC logo" class="db w4 center mb4 br0">
			<p><a href="https://list.italysd.com/subscription/form" class="link">Subscribe to our announcements mailing list</a></p>

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Italian school of San Diego LLC</h3>
				<ul class="mb3">
					<li><a href="/calendar" class="link">Academic Calendar</a></li>
					<li><a href="/about" class="link">About Italian school</a></li>
					<li><a href="/jobs" class="link">Jobs</a></li>
					<li><a href="/translate" class="link">Translation</a></li>
		<li><a href="https://italianschoolsd.square.site" class="link">Shop</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Tuition and policies</h3>
				<ul class="mb3">
					<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd4sac0Y2wdTd9gm2AF1Y9uuVPPyJzHfHEphJPA1iYPkrP43g/viewform?usp=sf_lin" class="link">Universal Pre-enrollment form (kids/teens)</a></li>
					<li><a href="/enroll" class="link">Tuition</a></li>
					<li><a href="/enroll-accredited" class="link">Tuition - Accredited classes</a></li>
					<li><a href="/tuition-payment" class="link">Payment and cancellation</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/italianschoolsd/" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/italianschoolsd/" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://www.twitter.com/italianschoolsd/" "svg" "icons-twitter") }}
				</ul>
			</div>

		</div>

		<div class="measure-narrow center mb4">

			<p>Copyright © {{ now.Year }}, Italian school of San Diego LLC</p>
			<p>Website developed by <a href="https://sandiegodata.science" class="link">San Diego Data Science LLC</a></p>
		</div>
	</div>

</footer>

{{ partial "svg" . }}