<footer class="site-footer ph3 pv5 white">
	<div class="mw8 center">
		<div class="footer-top tc mb4">
			<img src="/img/italianschoolsd_logo.png" alt="Italian school of San Diego LLC logo" class="db w4 center mb3 br0">
			<p class="mb0"><a href="https://list.italysd.com/subscription/form" class="link">Subscribe to our announcements mailing list</a></p>
		</div>

		<div class="footer-grid mb4">
			<div class="footer-card">
				<h3 class="f4 b lh-title mb2">Italian school of San Diego LLC</h3>
				<ul class="mb0">
					<li><a href="/calendar" class="link">Academic Calendar</a></li>
					<li><a href="/about" class="link">About Italian school</a></li>
					<li><a href="/jobs" class="link">Jobs</a></li>
					<li><a href="/translate" class="link">Translation</a></li>
					<li><a href="https://italianschoolsd.square.site" class="link">Shop</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div class="footer-card">
				<h3 class="f4 b lh-title mb2">Tuition and policies</h3>
				<ul class="mb0">
					<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd4sac0Y2wdTd9gm2AF1Y9uuVPPyJzHfHEphJPA1iYPkrP43g/viewform?usp=sf_lin" class="link">Universal Pre-enrollment form (kids/teens)</a></li>
					<li><a href="/enroll" class="link">Tuition</a></li>
					<li><a href="/enroll-accredited" class="link">Tuition - Accredited classes</a></li>
					<li><a href="/tuition-payment" class="link">Payment and cancellation</a></li>
				</ul>
			</div>

			<div class="footer-card">
				<h3 class="f4 b lh-title mb2">Social media</h3>
				<ul class="mhn2 mb3">
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/italianschoolsd/" "svg" "icons-instagram" "label" "Instagram") }}
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/italianschoolsd/" "svg" "icons-facebook" "label" "Facebook") }}
				</ul>
				<h3 class="f4 b lh-title mb2">Website development</h3>
				<p class="mb2"><a href="https://sandiegodata.science" class="link">San Diego Data Science LLC</a></p>
				<a href="https://sandiegodata.science" class="link dib">
					<img src="/img/sandiegodata_science_hero_small.jpg" alt="San Diego Data Science logo" width="120" height="80" loading="lazy" decoding="async" class="br1 mb0">
				</a>
			</div>
		</div>

		<div class="footer-note tc pt3">
			<p class="mb0">
				Copyright © {{ now.Year }}, Italian school of San Diego LLC.
			</p>
		</div>
	</div>
</footer>

{{ partial "svg" . }}
