<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/italianschoolsd_logo.png" alt="Italian school of San Diego LLC logo" class="br0 db mb0 w-100"/>
	</a>

	<div id="search" style="min-width:140px;max-width:100%;padding:0.5rem 1rem;box-sizing:border-box;"></div>

	<!-- Primary Nav -->
	<ul class="flex b primary">
		<li><a href="/classes" class="pa3 no-underline db">Kids</a></li>

		<li><a href="/accredited-classes" class="pa3 no-underline db">Teens</a></li>

		<li><a href="/adults" class="pa3 no-underline db">Adults</a></li>

		<li><a href="/italian-citizenship-and-visa" class="pa3 no-underline db">Italian Citizenship</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>
