baseurl = "https://www.italianschoolsd.com/"
languageCode = "en-us"
languageLang = "en"
title = "Italian school of San Diego"
copyright = 'This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.'
rssLimit = 20

# categories and tags disabled for an easy start
# See configuration options for more details: 
# https://gohugo.io/getting-started/configuration/#toml-configuration
disableKinds = ["taxonomy"]
ignoreErrors = ["error-disable-taxonomy"]

[author]
name = "Italian school of San Diego"

[permalinks]
  news = "/news/:year/:month/:title/"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[outputs]
  home = ["HTML", "RSS", "Algolia"]

[outputFormats.Algolia]
  baseName = "search"
  isPlainText = true
  mediaType = "application/json"

[security]
  [security.funcs]
    getenv = ['^HUGO_', '^CI$', '^CONTEXT$', '^URL$', '^DEPLOY_PRIME_URL$']

[minify]
  minifyOutput = true
  disableHTML = false
  disableCSS = false
  disableJS = false
  disableJSON = false
  disableSVG = false
  disableXML = false
