/* Self-hosted Nunito Sans (Latin). */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200 1000;
  font-stretch: 100%;
  font-display: swap;
  src: url('/fonts/nunito-sans-latin-var.woff2') format('woff2');
}

