name: Links

on:
  repository_dispatch:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.111.3'
          extended: true
      
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'
      
      - name: Install dependencies
        run: yarn install --ignore-scripts
      
      - name: Build site
        run: yarn run build:hugo
      
      - name: Lychee Broken Link Checker
        uses: lycheeverse/lychee-action@v1
        with:
          # Check all HTML files in the built site
          args: --verbose --exclude waveapps\.com --no-progress './dist/**/*.html'
          # Fail entire pipeline on error (i.e. when lychee exit code is not 0)
          fail: true
          # Summary output format (e.g. json)
          format: markdown
          # Write Github job summary at the end of the job (written on Markdown output only)
          jobSummary: false
