name: Links

on:
  repository_dispatch:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Hugo from bin/
        run: |
          chmod +x bin/hugo.linux
          sudo cp bin/hugo.linux /usr/local/bin/hugo
          hugo version
      
      - name: Build site with Hugo
        run: hugo -d dist -s site -v
      
      - name: Lychee Broken Link Checker
        uses: lycheeverse/lychee-action@v1
        with:
          # Check all HTML files in the built site
          args: --verbose --exclude waveapps\.com --no-progress './dist/**/*.html'
          # Fail entire pipeline on error (i.e. when lychee exit code is not 0)
          fail: true
          # Summary output format (e.g. json)
          format: markdown
          # Write Github job summary at the end of the job (written on Markdown output only)
          jobSummary: false
