name: Links

on:
  repository_dispatch:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"
      
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "0.154.5"
          extended: true

      - name: Install JS deps (for PostCSS)
        run: yarn install --frozen-lockfile
      
      - name: Build site with Hugo
        run: hugo -d dist -s site
      
      - name: Lychee Broken Link Checker
        uses: lycheeverse/lychee-action@v1
        with:
          # Check all HTML files in the built site
          args: --verbose --exclude waveapps\.com --no-progress './dist/**/*.html'
          # Fail entire pipeline on error (i.e. when lychee exit code is not 0)
          fail: true
          # Summary output format (e.g. json)
          format: markdown
          # Write Github job summary at the end of the job (written on Markdown output only)
          jobSummary: false
